body {
    background-color: #e0ff47;
    font-size: 40px;
    font-family: 'Times New Roman', monospace;
    color: darkblue;
  }
  p {
    font-size: 30px;
  }
  h1 {
    color: #0095ff;
  }
  a:link {
    color: #dc322f;
    font-size: 30px;
    text-decoration: none;
  }
  
  a:visited {
    color: red;
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(177, 89, 0) ;
  }
  li {
    list-style-type: circle;
    color: white;
  }
  